.image_grid {
    --default-column-count: 6;
    --column-count: var(--default-column-count);

    border-radius: 2px;

    min-width: 400px;
    width: 96vw;
    max-width: 1350px;

    display: grid;
    grid-template-columns: repeat(var(--column-count), 1fr);
    grid-auto-rows: 200px;
    grid-gap: 0.4rem;
    grid-auto-flow: dense;

    overflow: hidden;
}

@media(max-width: 1300px) {
    .image_grid {
        --column-count: calc(var(--default-column-count) - 1);
    }
}

@media(max-width: 1000px) {
    .image_grid {
        --column-count: calc(var(--default-column-count) - 2);
    }
}

@media(max-width: 700px) {
    .image_grid {
        --column-count: calc(var(--default-column-count) - 3);
    }
}

@media(max-width: 500px) {
    .image_grid {
        --column-count: calc(var(--default-column-count) - 4);
    }
}