.gallery__controls {
    --controls-height: 50px;
}

.gallery__controls {
    width: 100%;
    height: var(--controls-height);
    background-color: #0f110f;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-shadow: #0f110f 1px 0px 2px;

    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--font-color);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.13rem;
}

.gallery__controls__item {
    height: var(--controls-height);
    margin-right: 1rem;
}
.gallery__controls__item:first-child {
    margin-left: 1rem;
}



.wix_logo__image {
    height: var(--controls-height);
    padding: 0.25rem;
}

.wix_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}



@media(min-resolution: 200dpi) {
    .gallery__controls {
        --controls-height: 100px;
        font-size: calc(var(--font-size) * 2);
    }
    .gallery__controls__item {
        margin-right: 2rem;
    }
    .wix_logo__image {
        height: calc(var(--controls-height) - 20px);
    }
}