.gallery__controls {
    width: 100%;
    height: 50px;
    background-color: #0f110f;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-shadow: #0f110f 1px 0px 2px;

    --font-color: rgba(255, 255, 255, 0.85);
    --font-size: 1rem;
    --font-family: 'Fira Sans', sans-serif;
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--font-color);
}

.gallery__controls__item {
    margin: 0 1rem;

    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--font-color);
    font-weight: 600;
    letter-spacing: 0.13rem;

    text-transform: uppercase;
}

.wix_logo {
    height: 50px;
    padding: 0.25rem 0.5rem;
}