.gallery__controls__input.input {
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--font-color);
    opacity: 0.7;

    margin-left: 0.25rem;

    outline: none;

    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--font-color);
    text-align: center;
    letter-spacing: 0.05rem;


    transition: opacity ease-in-out 150ms;
}

.gallery__controls__input.input:hover {
    opacity: 1;
}
.gallery__controls__input.input:focus-within {
    opacity: 1;
}

.gallery__controls__input.label {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(min-resolution: 200dpi) {
    .gallery__controls__input.input {
        font-size: calc(var(--font-size) * 1.5);
        width: 200px;
    }
}