html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #313331;

    display: flex;
    justify-content: center;

    --font-color: rgba(255, 255, 255, 0.85);
    --font-size: 1rem;
    --font-family: 'Fira Sans', sans-serif;
}